body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Container{
  width: auto;
  height: auto;
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate((-50%, -50%));
}

Button{
  width: 180px;
  height: 80px;

}
.txt{
  width: 100%;
}
.txtfld{
 padding: 2px;
}
.check{
  margin-top: 5px;
}
.paper{
  margin: 50px;
  width: 1000px;
  height: 50px;
  position: absolute;
  top: 15%;
  left: 32%;
  transform: translate((-50%, -50%));
}
.clr{
  width: 5px;
    float: left;
    padding: 20px;
    
}